@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat+Alternates:ital@1&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
body{
    background-image: url(Assets/Home/fondo.webp);
}
.header{
    background-color: #192225;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: 0.3s;

}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 80px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.header .nav-links a{
    font-size: 700;
    color: #eeeff1;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #e6c926;
}
header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #eceff1;
    color: #e6c926;
    transform: scale(1.1);

}
.presentacion{
    text-align: center;
    color:  #eceff1;
    margin-top: 20%;
}
.presentacion .nombre{
    color:rgb(230, 20, 20);
    padding-bottom: 18px;
    cursor: pointer;
}